header , footer{
    height: 5rem;
    background-color: rgb(75, 75, 75);
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.container{
    padding: 0 4.8rem;
}