body {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header , footer{
    height: 3rem;
    background-color: rgb(88, 139, 124);
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 7px rgb(100, 100, 100);
}
header{
    margin-bottom: 2rem;
}
h3{
    text-align: center;
}
.d-none{
    display: none;
}
.main {
    padding: 1rem 4.8rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap : 2rem;
	/* flex: 1; */
    text-align: center;
}
.bank{
    display: flex;
    flex: 1 0 auto;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    gap : 0.7rem;
    margin-bottom : 2rem;
}
form input{
    width : 6rem;
}
.tickets{
    display : flex;
    flex-wrap : wrap ;
    gap : 1rem;
    justify-content: center;
}
.tirages{

    display : flex;
    gap : 2rem;
    justify-content: center;
}
.ticket{
    padding : 0.7rem;
    background-color: rgb(250, 250, 250);
    border-radius: 60rem;
    border : 1px solid #dadada;
    width : 20px;
    text-align: center;
}
.tirage{
    padding : 1rem;
    background-color: rgb(102, 169, 245);
    color:#ffffff;
    border-radius: 90rem;
    border : 1px solid #dadada;
    width : 20px;
    text-align: center;
}
.win{
    background-color: rgb(107, 238, 107) ;
}

.column{
    flex-direction: column;
}
